<mat-toolbar id="toolbar">
  <span style="margin-left: 3%; flex-grow: 1;">
    <a mat-button id="size" routerLink="/main/main"><b><i>Motoralkatrészkereskedés</i></b></a>
  </span>
  <div style="margin-right: 5%;">
    <a mat-button class="link" routerLink="/main/main">Főoldal</a>
    <a mat-button class="link" routerLink="/main/products">Temékek</a>
    <a mat-button class="link" routerLink="/main/products">Rólunk</a>
  </div>
  <a mat-button>
    <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
  </a>
</mat-toolbar>
